<site-header></site-header>

<div class="links">
    <input matInput type="text" (keyup)="setName()"
    placeholder="Your Name" [(ngModel)]="name" />

  <create-links></create-links>
</div>

<div class="all-links">
  <button mat-stroked-button color="primary" class="provide-button" [matMenuTriggerFor]="menu">Provide All this Info via hyperlink</button>
  <mat-menu #menu="matMenu" [xPosition]="'before'">
    <button mat-menu-item (click)="tryAllLink()">TRY</button>
    <button mat-menu-item (click)="copyAllLink()">COPY</button>
  </mat-menu>
</div>