<site-header></site-header>
<h1>{{ name }}</h1>

<div class="about-container">
 
  <ng-container *ngFor="let link of links">
      <mat-card *ngIf="link.username">
          <mat-card-header>
            <div mat-card-avatar class="header-image">
              <img [src]="link.icon" />
            </div>
            <mat-card-title>{{ link.type }}</mat-card-title>
          </mat-card-header>
        
          <mat-card-content>
            <div class="card-form">
      
              <mat-chip-list class="mat-chip-list-stacked">
                  <mat-chip class="copy" (click)="copyUsername(link.username)">
                      {{ link.username }}
                  </mat-chip>
              </mat-chip-list>
        
              <mat-form-field [hidden]="!link.action">
                <mat-select placeholder="Action" [(ngModel)]="link.action" (selectionChange)="onChange(link)">
                  <mat-option *ngFor="let action of link.actions" [value]="action.type">
                    {{action.name}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </mat-card-content>
        
          <mat-card-actions [hidden]="!link.link || !link.safeLink || !link.username ">
            <a mat-raised-button color="warn" [href]="link.safeLink" target="_blank">{{ link.action && getActionName(link) || 'Contact via ' + link.type }}</a>
          </mat-card-actions>
      </mat-card>
  </ng-container>

 
</div>
