.body {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-image: url(../assets/background.jpg);
  background-size: cover;
  background-position: center;
  overflow: auto;
  padding: 40px 25px;
}

.main-container {
  width: 600px;
  @media (max-width: 414px) {
    width: 375px;
  }

  @media (max-width: 375px) {
    width: 300px;
  }

  margin: auto;
}
