
html, body {
    background-color: #333030;
    min-height: 100%;
}

body a {
    color: #cecece;
}

a, a:hover, a:focus, a:active {
    text-decoration: none;
}

html, body, h1>a, .mat-card-header-text {
    color: #ffe082;
    font-family: Roboto,"Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
    
}

body *, body .mat-card-title {
    font-weight: 100;
}

.header-image img {
    width: 30px;
}

.card-form {
    display: flex;
    flex-direction: column;
}

body .mat-menu-content,
.main-container .mat-stroked-button,
.main-container .mat-card {
    background: #424242CC;
}

.main-container .mat-card {
    margin-top: 25px;
}

body .mat-snack-bar-container {
    background: #fffde7CC;
    color: #424242;
}

body .mat-snack-bar-container.warn {
    background: #f443367a;
    color: #cecece;
}


.mat-card-actions {
    text-align: right;
}

.mat-chip-list-wrapper {
    justify-content: center;
}

body .mat-menu-panel {
    background: url(assets/background250.png);
    background-size: cover;
}

body .mat-menu-item {
    color: #ffe082;
}

body .mat-menu-item.active {
    color: #cecece;
}

.mat-chip.copy {
    cursor: copy;
}

.about-container,
.create-links-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

mat-card-actions[hidden],
mat-form-field[hidden] {
    visibility: hidden;
}

body .mat-card-title h1 {
    font-size: large;
    margin-top: 0;
}

body .mat-card-image {
    opacity: 0.4;
}

@import '~@angular/material/theming';
@include mat-core();

$my-app-primary: mat-palette($mat-amber, 200);
$theme: mat-dark-theme($my-app-primary, $my-app-primary);

@include angular-material-theme($theme);