<site-header></site-header>
<h1>{{ name }}</h1>

<mat-card *ngIf="link">
  <mat-card-header>
    <div mat-card-avatar class="header-image">
      <img [src]="link.icon" />
    </div>
    <mat-card-title>{{ link.type }}</mat-card-title>
  </mat-card-header>

  <mat-card-content>
    <div class="card-form">
      <mat-chip-list>
        {{ link.action && getActionName() }}
        <mat-chip
          class="copy"
          color="primary"
          selected
          (click)="copyUsername(link.username)"
          >{{ link.username }}</mat-chip
        >
      </mat-chip-list>
    </div>
  </mat-card-content>

  <mat-card-actions>
    <button mat-raised-button color="warn" (click)="openLink()">
      {{ (link.action && getActionName()) || "Contact via " + link.type }}
    </button>
  </mat-card-actions>
</mat-card>

<div *ngIf="!link">
  <mat-card>
    <mat-card-header>
      <div mat-card-avatar class="header-image">
        <img src="assets/answersfromme.png" />
      </div>
      <mat-card-title
        ><h1>
          <a routerLink="/create">answerfrom.me</a
          ><small> is a service for sharing your contacts</small>
        </h1></mat-card-title
      >
    </mat-card-header>
    <img mat-card-image src="assets/road.jpg" />
    <mat-card-content>
      <p>
        Use browser functionality to allow your addressees start conversation
        with you in a two clicks.
      </p>
      <p>Put nice link to you in email, pdf or Google Docs.</p>
      <p>
        Create all-in-one page to allow your addressees choose preferable
        contact channel to you: skype, email, telegram or phone.
      </p>
    </mat-card-content>

    <mat-card-actions>
      <a mat-button color="primary" routerLink="/create">Try. It is free.</a>
    </mat-card-actions>
  </mat-card>
</div>
